<template name="dashboard">
    <h3>Dashboard</h3>

    <div class="row">
        <div class="col-sm-8">{{> expensesList }}</div>
        <div class="col-md-4">
            <div class="col-sm-12">{{> editExpense }}</div>
            <div class="col-sm-12">{{> newExpense }}</div>
        </div>
    </div>
</template>
