<template name="editExpense">
  {{#if expense._id}}
  <h4 class="page-header">Edit Expense</h4>
  {{/if}}
  <form id="edit-expense" class="{{class expense._id}}">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" placeholder="Name" value="{{expense.name}}">
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input type="number" name="amount" class="form-control" placeholder="Amount" value="{{expense.amount}}">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" name="description" class="form-control" placeholder="Description" value="{{expense.description}}">
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      <input type="text" name="comment" class="form-control" placeholder="Comment" value="{{expense.comment}}">
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <div class="input-group datetimepicker datepicker-edit">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        <input name="date" class="set-due-date form-control" type="text" value="{{formatDate expense.date}}"/>
      </div>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-success" value="Save">

      <a class="btn btn-danger delete pull-right">Delete</a>
    </div>
  </form>
</template>