<template name="editUser">
  {{#if user._id}}<h4 class="page-header">Edit User</h4>{{/if}}
  <form id="edit-user" class="">
    {{#if user._id}}
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" name="first" class="form-control" placeholder="Name" value="{{user.profile.name.first}}">
    </div>
    <div class="form-group">
      <label for="last">Last Name</label>
      <input type="text" name="last" class="form-control" placeholder="Last Name" value="{{user.profile.name.last}}">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" placeholder="Email" value="{{user.emails.[0].address}}">
    </div>


    <div class="form-group">
      <label for="password">New Password</label>
      <input type="password" name="newPassword" class="form-control" placeholder="New Password">
    </div>

    <div class="form-group">
      <label for="password">Repeat New Password</label>
      <input type="password" name="repeatNewPassword" class="form-control" placeholder="Password">
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-success" value="Save">

      <a class="btn btn-danger delete pull-right">Delete</a>
    </div>
    {{/if}}
  </form>
</template>