<template name="expensesPerWeek">
  <h3>List Expenses per Week</h3>

  <div class="row">
    <div class="col-sm-12">
      <select name="weeks" class="form-control">
        {{#each weeks}}
        <option value="{{_id}}">Week number: {{_id}}</option>
        {{/each}}
      </select>
      <table class="table table-striped">
        <thead>
          <th>Name</th>
          <th>Amount</th>
          <th>Description</th>
          <th>Date</th>
          <th>Created At</th>
        </thead>
        <tbody>
          {{#each expensesByDay}}
          {{#each Data}}
          <tr>
            <td>{{name}}</td>
            <td>{{amount}}</td>
            <td>{{description}}</td>
            <td>{{formatDate date}}</td>
            <td>{{formatDate created}}</td>
          </tr>
          {{/each}}
          {{/each}}
        </tbody>
      </table>

      <ul>
        {{#each expensesByDay}}
          <li>Day {{_id}} total: {{totalAmount}}</li>
          <li>Day {{_id}} average expense: {{averageAmount}}</li>
        {{/each}}

        <li>Week total: {{totalForWeek}}</li>
      </ul>

      <a class="btn printExpenses pull-right btn-default hidden-print" href="#">Print Expenses</a>
    </div>
  </div>
</template>
