<template name="expensesList">

  <div class="row">
    <div class="form-inline">
      <div class="form-group">
        <input type="text" id="amountLessThan" value="{{amountLessThan}}" class="form-control amountLessThan" placeholder="Where amount is under..">
      </div>
      <div class="form-group">
        <input type="text" id="amountMoreThan" value="{{amountMoreThan}}" class="form-control amountMoreThan" placeholder="Where amount is over..">
      </div>

      <div class="col-md-6 pull-right">
        <div class="input-group">
          <input type="text" id="search-box" value="{{search}}" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button id="search" class="btn btn-default" type="button">Search!</button>
          </span>
        </div>
      </div>
    </div>

    {{#if isInRole 'admin'}}
    <div class="form-group">
      <select name="usersList" class="form-control">
        {{#each users}}
        <option selected="{{selectedUser _id}}" value="{{_id}}">{{emails.[0].address}}</option>
        {{/each}}
      </select>
    </div>
    {{/if}}
  </div>

  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Amount</th>
      <th>Created At</th>
    </thead>
    <tbody>
      {{#each expenses}}
      <tr>
        <td><a href="{{pathForExpense}}">{{name}}</a></td>
        <td>{{amount}}</td>
        <td>{{formatDate created}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <nav>
    <ul class="pagination">
      {{#each pages numPages}}
      <li class="{{activePage currPage page}}" ><a href="?page={{page}}">{{page}}</a></li>
      {{/each}}
    </ul>
  </nav>

</template>