<template name="newUser">
  <h4 class="page-header">New User</h4>
  <form id="new-user" class="">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" name="first" class="form-control" placeholder="Name" value="{{user.profile.name.first}}">
    </div>
    <div class="form-group">
      <label for="last">Last Name</label>
      <input type="text" name="last" class="form-control" placeholder="Last Name" value="{{user.profile.name.last}}">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" placeholder="Email" value="{{user.emails.[0].address}}">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" placeholder="New Password">
    </div>

    <div class="form-group">
      <label for="password">Repeat Password</label>
      <input type="password" name="repeatPassword" class="form-control" placeholder="Password">
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-success" value="Create">
    </div>
  </form>
</template>