<template name="newExpense">
  <h4 class="page-header">New Expense</h4>
  <form id="new-expense" class="">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number" name="amount" class="form-control" placeholder="Amount">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" class="form-control" placeholder="Description">
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        <input type="text" name="comment" class="form-control" placeholder="Comment">
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <div class="input-group datetimepicker datepicker">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          <input name="date" class="set-due-date form-control" type="text"/>
        </div>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-success" value="Save">
      </div>
  </form>
</template>