<template name="users">
  {{#if isInRole 'admin,manager'}}

    <h4 class="page-header">Users</h4>
    <div class="row">
      <div class="col-sm-8">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Email Address</th>
              <th class="text-center">Role</th>
            </tr>
          </thead>
          <tbody>
            {{#each users}}
              <tr>
                <td class="text-left text-middle">
                  <a href="{{pathForUser}}">
                    {{#if isCurrentUser _id}}<label class="label label-success">You!</label>{{/if}} {{emails.[0].address}}
                  </a>
                  </td>
                <td>
                  <select {{disableIfAdmin _id}}  {{disableAdminsForManagers _id}} name="userRole" class="form-control">
                    <option selected="{{selected roles.[0] 'user'}}" value="user">User</option>
                    <option selected="{{selected roles.[0] 'manager'}}" value="manager">Manager</option>
                    <option {{disableIfManager}} selected="{{selected roles.[0] 'admin'}}" value="admin">Admin</option>
                  </select>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="col-sm-4">
        {{> editUser}}
        {{> newUser}}
      </div>
    </div>
  {{/if}}
</template>