<template name="authenticatedNavigation">
  <ul class="nav navbar-nav">
    <li class="{{currentRoute 'index'}}"><a href="{{pathFor 'index'}}">Index</a></li>
    <li class="{{currentRoute 'expenses'}}"><a href="{{pathFor 'expenses'}}">Expenses</a></li>
    <li class="{{currentRoute 'expensesPerWeek'}}"><a href="{{pathFor 'expensesPerWeek'}}">Expenses Per Week</a></li>
    {{#if isInRole 'admin,manager'}}
      <li class="{{currentRoute 'users'}}"><a href="{{pathFor 'users'}}">Users</a></li>
    {{/if}}
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.emails.[0].address}} <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li class="logout"><a href="#">Logout</a></li>
      </ul>
    </li>
  </ul>
</template>
