<template name="header">
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="{{brandLink}}">Expenses Tracker App</a>
	    </div>
	    <div id="navbar-collapse" class="collapse navbar-collapse">
	    	{{#if currentUser}}
					{{> authenticatedNavigation}}
	      {{else}}
	      	{{> publicNavigation}}
	      {{/if}}
	    </div>
	  </div>
	</nav>
</template>
